/* Importação de fonte via Google Fonts --------- */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
  --card-bg: #fff;
  --bg: #364372;
  --btn-border: #264fec;
  font-size: 16px;
}

/* Reset básico --------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body --------- */
body {
  background-color: var(--bg);
  font-family: 'IBM Plex Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header --------- */
header {
  height: 80px;
  background-color: #ffffff;
  display: flex;
}

.container-elementos-header {
  width: min(1280px, 100%);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.titulo-principal {
  font-size: 24px;
  color: #0000ee;
  font-weight: 400;
}

.label-pesquisa {
  background-color: #db1e8c;
  height: 40px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
}

.input-pesquisa {
  background-color: transparent;
  padding: 4px;
  border: none;
}

::placeholder {
  color: #ff97d3;
}

/* main */

main {
  width: min(100%, 1280px);
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  background-color: var(--card-bg);
  border-radius: 4px;
  padding: 20px;
  width: 30%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
}

.card h2 {
  color: var(--bg);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 18px;
}

.card p {
  margin-bottom: 16px;
}

.card__content {
  flex-grow: 1;
}

.botao {
  border: 1px solid var(--btn-border);
  color: var(--btn-border);
  border-radius: 4px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 0.87rem;
}

/* Footer */
footer {
  width: 100%;
  margin-top: auto;
  background-color: #fff;
  padding: 10px;
}

footer .container {
  width: min(100%, 1280px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .container > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer a {
  text-decoration: none;
  font-size: 0.87rem;
  color: #000;
}

.footer__links-programa {
  display: flex;
  flex-direction: column;
}
